html,body{
    height: 100%;
    width: 100%;
}

h1, h4 {
    text-align: center;
}


ul {
    list-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
}

p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


#pokemon-container {
    margin: auto;
    width: 90%;
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    justify-content: center;
}

.pokemon-card {
    margin-left: 10px;
    margin-top: 10px;
    border: solid;

}

